@import "tailwindcss";

@theme {
    /* Font */
    --font-sans: "Poppins", sans-serif;
  
    /* Colors */
    --color-primary: #1182c5;
    --color-secondary: #2aa6df;
    --color-dark: #1e1e1e;
    --color-light: #f5f5f5;
  
    /* Container padding */
    --container-padding: 1rem;
    --container-padding-sm: 3rem;
  
    /* Animation */
   

    
}
